{% extends 'base.html' %}
{% load static %}
{% block title %}Ramzii - My Passwords{% endblock %}
{% block body %}
    <div class="container">
  <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button  class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Add New Password
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  <form action="addPassword/">
                      <input name="id" class="form-control" type="hidden" placeholder="" value="{{ group_id }}">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Name:</label>
                    <input name="name" class="form-control" type="text" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Password:</label>
                    <input name="pass" type="password" class="form-control" id="inputPassword4" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description:</label>
                    <input name="desc" class="form-control" type="text" placeholder="">
                  </div>
                  <button type="submit" style="margin-bottom: 5px" href="#" class="btn btn-success" style="float: left;">Add</button>
                </form>
              </div>
            </div>
          </div>

     <div class="card" style="margin-bottom: 5px; margin-top: 5px;">
          <h5 class="card-header">
              <a href="{% url 'manager:index' %}" class="btn btn-secondary btn-sm" style="float: left;">Back</a>

          </h5>
          <div class="card-body">

    <table class="table">
      <thead>
        <tr>
{#          <th scope="col">#</th>#}
          <th scope="col">Name</th>
          <th scope="col">Password</th>
          <th scope="col">Description</th>
          <th scope="col">Group</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
            {% for pass in passes %}
                <tr>
{#                  <th scope="row">{{ pass.id }}</th>#}
                  <td>{{ pass.name }}</td>
                  <td>{{ pass.password }}</td>
                  <td>{{ pass.desc }}</td>
                  <td>{{ pass.group.groupName }}</td>
                  <td>
                      <form action="deletePassword/">
                          <input name="id" value="{{group_id}}" type="hidden">
                          <input name="id2" value="{{pass.id}}" type="hidden">
                          <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                      </form>
{#                      <a href="#" class="btn btn-outline-success btn-sm" >Edit</a>#}
                  </td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}