<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static './css/mystyleRegister.css' %}">

<body>

</head>
<form action="manager/sign_up/">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="Username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>


        
    

    <hr>

    <div class="col" id="padding-top">
        <input class=" fb btn" type="submit" value="Register">
    </div>
  </div> 
  
  
  <div class="container signin">
    <p>Already have an account? <a href="{% url 'index' %}">Sign in</a>.</p>
  </div>
</form>

</body>
</html>

