<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}Ramzii- Gorups{% endblock %}
{% block body %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static './css/mystyleRegister3.css' %}">

<body>

  <div class="container">
    <form action="/questionnaire/sb_results">
      <h1>Hi {{firstname}}</h1>
      <h2> Insomnia Severity Index </h2>
      <p>Please find the following instructions. </p>
      <hr>
  
      <div class="row">
        <div class="col-25">
          <label for="isi_q1">1. Do you <b>Snore Loudly</b> (loud enough to be heard through closed doors or your bed-partner elbows you for snoring at night)?<span style="color:red">*</span></label>
        </div>
        <div class="col-75">
          <select name="isi_q1" id="isi_q1" multiple size="2" style="width: 100%;" required>
              <option value="0">Yes </option>
              <option value="1">No</option>
          </select>
        <br><br>
         </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="isi_q2">2. Do you often feel <b>Tired, Fatigued, or Sleepy</b> during the daytime (such as falling asleep during driving)?<span style="color:red">*</span></label>
        </div>
        <div class="col-75">
          <select name="isi_q2" id="isi_q2" multiple size="2" style="width: 100%;" required>
              <option value="0">Yes </option>
              <option value="1">No</option>
          </select>
        <br><br>
         </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="isi_q3">3. Has anyone <b>Observed</b> you <b>Stop Breathing</b> or <b>Choking/Gasping</b> during your sleep?<span style="color:red">*</span></label>
        </div>
        <div class="col-75">
          <select name="isi_q3" id="isi_q3" multiple size="2" style="width: 100%;" required>
              <option value="0">Yes </option>
              <option value="1">No</option>
          </select>
        <br><br>
         </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="isi_q4">4. Have you been treated for <b>High Blood Pressure</b>?‎<span style="color:red">*</span></label>
        </div>
        <div class="col-75">
          <select name="isi_q4" id="isi_q4" multiple size="2" style="width: 100%;" required>
              <option value="0">‎Yes ‎</option>
              <option value="1">No</option>
          </select>
        <br><br>
         </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="isi_q5">5. ‎‎Do you have a neck size, measured around adams apple, <b>larger than 40 cm</b>? (Please refer to the picture below)‎<span style="color:red">*</span></label>
        </div>
        <div class="col-75">
          <select name="isi_q5" id="isi_q5" multiple size="2" style="width: 100%;" required>
              <option value="0">Yes</option>
              <option value="1">No</option>
          </select>
        <br><br>
         </div>
      </div>

      <div class="row"></div>
        <div class="col-50">
          <img src="../static/images/adams_apple.png" alt="Adams apple">
        </div>
      </div>
  
  
      <hr>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
  
  </form>
  </div> 

{% endblock %}

