<div>
    <link href="./home.css" rel="stylesheet" />
    <div class="home-container">
      <h1 class="home-text">Let&apos;s Answer questions below!</h1>
      <ul class="home-ul list">
        <li class="list-item">
          <span class="home-text1">
            1) Do you Snore Loudly (loud enough to be heard through closed doors
            or your bed-partner elbows you for snoring at night)?
          </span>
        </li>
        <li class="list-item"></li>
      </ul>
      <div class="home-container1">
        <div class="home-container2">
          <input type="checkbox" checked="true" class="home-checkbox" />
          <span class="home-text2">Yes</span>
        </div>
        <div class="home-container3">
          <input type="checkbox" checked="true" class="home-checkbox1" />
          <span class="home-text3">No</span>
        </div>
      </div>
    </div>
  </div>